In [1]:
import pandas as pd
import numpy as np

In [5]:
room_len=[10,20,12,34,43,20]
room_bre=[20,20,10,11,25,16]
room_type=["big","big","normal","big","big","normal"]
data=pd.DataFrame({"length":room_len,
                 "breadth":room_bre,
                 "type":room_type})
data

   length  breadth    type
0      10       20     big
1      20       20     big
2      12       10  normal
3      34       11     big
4      43       25     big
5      20       16  normal

In [6]:
data["Area"]=data["length"]*data["breadth"]

In [7]:
data

   length  breadth    type  Area
0      10       20     big   200
1      20       20     big   400
2      12       10  normal   120
3      34       11     big   374
4      43       25     big  1075
5      20       16  normal   320

In [8]:
age=[18,20,21,34,56,57,45]
city=["City A","City B","City A","City A","City C","City B","City A"]
data1=pd.DataFrame({"Age":age,"City":city})
print(data1)

   Age    City
0   18  City A
1   20  City B
2   21  City A
3   34  City A
4   56  City C
5   57  City B
6   45  City A

In [9]:
dummy_features= pd.get_dummies(data1["City"])
print(dummy_features)

   City A  City B  City C
0       1       0       0
1       0       1       0
2       1       0       0
3       1       0       0
4       0       0       1
5       0       1       0
6       1       0       0

In [10]:
data_age=pd.DataFrame(data=data1,columns=["Age"])
data_mod=pd.concat([data_age,dummy_features],axis=1)
print("Final Dataset \n",data_mod)

Final Dataset
    Age  City A  City B  City C
0   18       1       0       0
1   20       0       1       0
2   21       1       0       0
3   34       1       0       0
4   56       0       0       1
5   57       0       1       0
6   45       1       0       0

In [1]:
import pandas as pd
marks_science=[78,56,89,92,45,62]
marks_maths=[78,56,89,92,45,62]
grade=['b','c','a','a','d','b']
data=pd.DataFrame({
    "science marks":marks_science,
    "Maths marks":marks_maths,
    "Total Grade":grade
})

In [5]:
from sklearn import preprocessing
le=preprocessing.LabelEncoding()

AttributeError: module 'sklearn.preprocessing' has no attribute 'LabelEncoding'