In [4]:
import pandas as pd
import numpy as np

In [13]:
arr=np.array([10,20,30])
s=pd.Series(arr,index=['first','second','third'])
s

first     10
second    20
third     30
dtype: int64

In [14]:
arr=np.array([10,20,30])
s1=pd.Series(arr,index=['first','second','third'])
s1
s2=pd.Series(arr,index=['first','second','third'])
s2
print(s2+s1)

first     20
second    40
third     60
dtype: int64

In [6]:
s1=pd.Series([3,4,5,6,7,8,9,11])
s1

0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    11
dtype: int64

In [7]:
s1.head()

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [8]:
s1.tail

<bound method NDFrame.tail of 0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    11
dtype: int64>

In [11]:
s1.loc[1:4]

1    4
2    5
3    6
4    7
dtype: int64

In [12]:
s1.iloc[1:4]

1    4
2    5
3    6
dtype: int64

In [14]:
s1.index

RangeIndex(start=0, stop=8, step=1)

In [15]:
df=pd.DataFrame(s1)

In [16]:
df

    0
0   3
1   4
2   5
3   6
4   7
5   8
6   9
7  11

In [23]:
name=pd.Series(["Hardik","Virat"])
team=pd.Series(["MI","RCB"])
df1=pd.DataFrame({"Name":name,"Team":team})
df1

     Name Team
0  Hardik   MI
1   Virat  RCB

In [25]:
for(row_index,row_value) in df1.iterrows():
    print("row index is:",row_index)
    print("row value is:",row_value)

row index is: 0
row value is: Name    Hardik
Team        MI
Name: 0, dtype: object
row index is: 1
row value is: Name    Virat
Team      RCB
Name: 1, dtype: object

In [28]:
for(col_index,col_value) in df1.items():
    print("col index is:",col_index)
    print("col value is:",col_value)

col index is: Name
col value is: 0    Hardik
1     Virat
Name: Name, dtype: object
col index is: Team
col value is: 0     MI
1    RCB
Name: Team, dtype: object